# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Operating System Files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Virtual Environments
venv/
env/
.venv/
env.bak/
venv.bak/

# Jupyter Notebook Checkpoints
.ipynb_checkpoints

# IDE / Editor settings
.vscode/
.idea/
*.swp
*.swo

# Temporary & Log files
*.log
*.tmp
